# ROS2 build and install folders
build/
install/
log/

# Python cache
__pycache__/
*.pyc

# VSCode, JetBrains, etc.
.vscode/
.idea/

# Map data and temporary files
*.pgm
*.db

# RViz and launch logs
*.rviz
